<!--
body{
 text-align:center;
 background-image: url(/images/star.jpg);
 background-position: center bottom;
 margin-left: 35px;
 
}
.flex{
    color: white;
    padding: 9px 12px;
    border-radius:20px;
    }
-->
